#headbg {
	height: 93px;
	margin: 0 auto;
	width: 100%;
	background: url('../images/master/top_bg.png') no-repeat left #eff7fe;
	overflow: hidden;
}
#head {
	float: left;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}
#head #logo {
	float: left;
	background: url('../images/master/logo.png') no-repeat 0 -0px;
	height: 56px;
	left: 0;
	top: 0px;
	width: 227px;
	margin: 0px;
}
#head #botton {
	float: right;
	height: 27px;
	left: 0;
	top: 0px;
	text-align: center;
	overflow: hidden;
}
#head #botton ul {
	float: right;
	height: 27px;
	line-height: 27px;
	list-style: none;
	margin: 0px 10px 0px 0px;
	padding: 0;
	position: relative;
}
#head #botton ul li {
	float: left;
}
#head #topleftbg {
	background: url('../images/master/botton_01.png') no-repeat left;
	height: 27px;
	width: 5px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
#head #bottonbg {
	background: url('../images/master/botton_02.png') repeat-x left;
	height: 27px;
	padding: 0px 10px 0px 10px;
	position: relative;
}
#head #rightbg {
	background: url('../images/master/botton_03.png') no-repeat left;
	height: 27px;
	width: 7px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
#head .menubotton {
	float: left;
	padding-left:200px;
	height: 31px;
}

.menuline {
	float: left;
	background-color: #a6c5e4;
	width: 100%;
	height: 5px;
}
.menuline2 {
	float: left;
	background-color: #fff;
	width: 100%;
	height: 1px;
}


/*sysmenu.css*/
ul.topnav {
	list-style: none;
	margin: 0;
	float: left;
	padding-left:200px;
}
ul.topnav li {
	float: left;
}
ul.topnav li{
	width: 73px;
	margin-left: 10px;
	text-decoration: none;
	float: left;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	cursor: pointer;
}

ul.topnav li span{
	width: 73px;
	background: url('../images/master/menubotton01.png') no-repeat left;
	padding-left: 15px;
	height: 31px;
	line-height: 31px;
	width: 58px;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	display: block;
}
ul.topnav li span.yallow{
	width: 73px;
	background: url('../images/master/menubotton01.png') no-repeat left;
	padding-left: 15px;
	height: 31px;
	line-height: 31px;
	width: 58px;
	font-size: 14px;
	color:tomato;
	font-weight: bold;
	display: block;
}

ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; 
	top: 87px;
	background: #A6C5E4;
	margin: 0;
	padding: 0;
	display: none;
	float: left;
	width: 150px;
	z-index: 999;
}
ul.topnav li ul.subnav li{
	margin: 0;
	clear: both;
	height:35px;
	line-height: 35px;
	text-align: left;
	background: url('../images/master/arrow_state_grey_right.gif') no-repeat 10px 10px;
	cursor: pointer;
}
ul.topnav li span.bgmenuhove {
	background: url('../images/master/menubotton02.png') no-repeat left;
	padding-left: 15px;
	height: 31px;
	line-height: 31px;
	width: 58px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	display: block;
}
ul.topnav li span.bgmenuhove2 {
	background: url('../images/master/menubotton02.png') no-repeat left;
	padding-left: 15px;
	height: 31px;
	line-height: 31px;
	width: 58px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	display: block;
}